# Environment
.env
.myvenvr/

# Database
chroma_db/

# PDF (personal/private file)
attention.pdf
Annual.pdf
HR_Manual.pdf
Internship.pdf
Investor.pdf

# Python cache
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/